<div class="w-full ">
  <app-landing-home-header></app-landing-home-header>
</div>
<div class="w-full flex justify-center">
  <div class="w-full lg:10/12">
    <app-landing-home-s1></app-landing-home-s1>
  </div>
</div>
<div class="w-full flex justify-center">
  <div class="w-full lg:10/12">
    <app-landing-home-s2></app-landing-home-s2>
  </div>
</div>
<div class="font-primary">ABCDEFGHIJKLMNÑOPQRSTUVXYZabcdefghijklmnopqrstuvxyz PRIMARY poppins</div>
<div class="font-secondary">ABCDEFGHIJKLMNÑOPQRSTUVXYZabcdefghijklmnopqrstuvxyz SECONDARY GothamBook</div>
<div class="font-tertiary">ABCDEFGHIJKLMNÑOPQRSTUVXYZabcdefghijklmnopqrstuvxyz TERTIARY Montserrat</div>
<div class="font-oswald">ABCDEFGHIJKLMNÑOPQRSTUVXYZabcdefghijklmnopqrstuvxyz Oswald</div>
<div class="font-gothambold">ABCDEFGHIJKLMNÑOPQRSTUVXYZabcdefghijklmnopqrstuvxyz gothambold</div>
<div class="font-Poetsen">ABCDEFGHIJKLMNÑOPQRSTUVXYZabcdefghijklmnopqrstuvxyz Poetsen</div>
<div class="font-roboto">ABCDEFGHIJKLMNÑOPQRSTUVXYZabcdefghijklmnopqrstuvxyz Roboto</div>
<div class="font-noexiste">ABCDEFGHIJKLMNÑOPQRSTUVXYZabcdefghijklmnopqrstuvxyz noexiste</div>
<div>1111</div>
<div>1111</div>
<div>1111</div>
<div>1111</div>
<div>1111</div>
<div>1111</div>
<div>1111</div>
<div>1111</div>
<div>1111</div>
<div>1111</div>
