<div>
  <div class=" w-full">
    <div class="h-[640px] bgimage bg-opacity-35  w-full p-0 img1" [ngClass]="" >
      <div class="flex  justify-center ">
        <div class="  w-11/12  grid sm:grid-cols-1 pt-28 md:grid-cols-2 md:gap-5 md:px-2 xl:px-28 xl:pt-36">
          <div class=" text-white z-10 ">
            <div class="">
              <p class="text-xl md:text-2xl font-secondary"> QUIENES </p>
              <h2 class="text-xl font-bold md:text-4xl"> SOMOS</h2>
              <h4 class="text-xl font-bold md:text-3xl"> NOSOTROS </h4>
            </div>
            <div class="pt-5 text-white text-opacity-40"><p>Desafio a todos los esfuerzos</p></div>
            <div class="flex justify-start h-[70px]">
              <div class=" w-8/12 lg:w-4/12 pt-5">
                <app-btn (click)="onAddToCart()"   color="success" opacity="0" image="assets/icons/agregar-usuario-2.svg">Inscribirme</app-btn>
              </div>
            </div>
            <div class="flex justify-start h-[70px]">
              <div class=" w-10/12 lg:w-6/12 pt-5">
                WHASTAPP
              </div>
            </div>
            <div class="flex justify-start h-[70px]">
              <div class=" w-10/12 lg:w-6/12 pt-3">
                DESCARGAR
              </div>
            </div>
          </div>
          <div class="md:h-[520px]  xl:h-[500px] z-10 md:flex md:items-end hidden">
            <div class=""><img src="assets/images/G2.png"></div>
          </div>
        </div>
      </div>
      <div class="absolute w-full bottom-0">
        <img src="assets/images/hero-bg-shape-1.svg" alt="wave shape" class="img-fluid">
      </div>
    </div>
  </div>
</div>
