<div class="py-10 px-5 rounded-md  bg-white text-center duration-1000 transition-all ">
  <div class="flex justify-center">
    <div class="w-16 h-16 rounded rounded-full bg-[#903f97] grid content-center">
      <fa-icon class="m-0.5 text-3xl font-bold text-white" [icon]="faicon"> </fa-icon>
    </div>
  </div>
  <div class="flex justify-center mt-4 font-bold">
    <div class="text-primary-500"> {{data.title}}</div>
  </div>
  <div class="flex justify-center mt-4 ">
    <div>{{data.msg}}</div>
  </div>
  <div class="flex justify-center mt-4 ">
    <app-btn (click)="closeSelf()"   color="primary" opacity="0" image="">{{data.buttontext}}</app-btn>
  </div>

</div>
